.div1{
    display: block;
    background-color: sandybrown;
    border: solid;
    height: 100px;
    width: 300px;
}
.div2{
    display: block;
    background-color: seagreen;
    border: solid;
    height: 100px;
    width: 300px;
}