body{
    font-size: 32px;
}

a{
    /*
    border-width: thin;
    border-color: red;
    border-style: solid;
    */
    border: thick blue solid;
    border-bottom: 20px red dotted;
    border-right: 5px green dashed;
}
p{
    height: 300px;
    width: 300px;
    background-color: lightblue;
    border: 5px solid black;
    border-radius: 20px 10px 0px 50px;
}